.form-notice-list, .form-notice-write {
  margin: auto;
  height: 80%;
  width: 80%
}

.notice-list-table, .notice-write-table {
    border: solid 1px #eee;
    margin: 0 auto;
    width: 80%;
}

th {
    height: 80px;
}

tr {
    height: 85px;
}

.notice-list-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.notice-list-write-btn {
    position: absolute;
    right: 0;
}

.pagination {
    margin-top: 20px;
}

.page-item.active .page-link {
    background-color: gray;
    border-color: gray;
}

.page-link {
    color: black;
}


.notice-input-text {
    width: 90%;
    margin: auto;
}

.notice-textarea {
    margin: auto;
    width: 90%;
    height: 90%;
}

.notice-input-file {
    margin: auto;
    width: 90%;
}

.write-btn-form {
    margin-top: 20px;
}

.upload-file {
    display: inline;
}

.upload-file-img {
    width:150px;
    height:150px;
}

.notice-img {
    margin-top: 10px;
    width: 100%;
}




