.form-notice-list, .form-notice-write {
  margin: auto;
  height: 80%;
  width: 80%
}

.notice-list-table, .notice-write-table {
    border: solid 1px #eee;
    margin: 0 auto;
    width: 80%;
    height: 90%;
}

th, tr, td {
    border: solid 1px #eee;
}

.notice-list-bottom {
    margin: 30px;
}

.notice-list-write-btn {
    margin-left: 90%;
}

.notice-input-text {
    width: 90%;
    margin: auto;
}

.notice-textarea {
    margin: auto;
    width: 90%;
    height: 90%;
}

.notice-input-file {
    margin: auto;
    width: 90%;
}

.write-btn-form {
    margin-top: 20px;
}
